# User-specific files
*.suo
*.user
*.DS_Store

# Build results
[Dd]ebug/
[Rr]elease/
[Oo]bj/

# enable Atom Libraries folder
!build/Debug
build/*.exe

*.ilk
*.obj
*.pch
*.pdb
*.log
*.tlog

# Visual C++ cache files
ipch/
*.opensdf
*.sdf

# Visual Studio profiler
*.psess
*.vsp
*.vspx

node_modules/

client/.sass-cache/
.sass-cache/**